.section-register {
  width: 50%;
  box-shadow: 2px 2px 10px map-get($map: $color, $key: primary);
  border-radius: 20px;
}

.title-register {
  color: map-get($map: $color, $key: primary);
  font-family: map-get($map: $font, $key: secondary);
  font-weight: bolder;
}

.btn-sign {
  background-color: rgb(130, 197, 54);
  color: #ffff;
}


