/* You can add global styles to this file, and also import other style files */
.title-page {
  display: flex;
  text-align: center;
  justify-content: center;
  color: rgb(43, 40, 216);
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

.product-list {
  list-style-type: none;
}

.item {
  padding: 10px;
}
.col-4 {
  width: 33.3333333%;
}

.product-item {
  padding: 10px;
  border: 1px solid grey;
}

.product-title {
  font-size: 16px;
  color: rgb(53, 117, 190);
}

.product-description {
  font-size: 12px;
  color: rgb(63, 151, 75);
}

.form-group {
}

.form-list {
  display: flex;
  flex-wrap: wrap;
  .form-item {
    padding: 20px;
    margin: 0 auto;
    .input-title {
      color: rgb(34, 31, 31);
      font-size: 16px;
    }
    .form-control {
      height: 30px;
      font-size: 14px;
      margin: 10px;
      width: 400px;
    }
  }
}

.btn {
  height: 30px;
  font-size: 14px;
  color: #ffff;
}

.btn-list {
  display: flex;
  justify-content: center;
  .btn-save-local {
    background-color: rgba(0, 0, 255, 0.76);
  }
  .btn-get-local {
    background-color: red;
  }
  .btn-save-session {
    background-color: rgb(22, 107, 29);
  }
  .btn-get-session {
    background-color: tomato;
  }
}

.result {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  .result-item {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
  }
  &-title {
    font-size: 16px;
    padding: 10px;
  }
  &-decription {
    font-size: 14px;
    padding: 10px;
    display: flex;
    align-items: center;
  }
}