<header class="header-page">
  <section class="section-header-top">
    <div class="container">
      <section class="header-top d-flex backgroud">
        <h1 class="name-page d-flex align-center">Cinderella Store</h1>
        <ul class="header-top-right d-flex flex-wrap ml-auto align-center">
          <li class="dropdown header-top-item">
            <button class="dropbtn">Contact Us 24/7 <i class="fa fa-caret-down"></i></button>
            <ul class="dropdown-content">
            <li class="dropdown-content-item"><a href="#">Link 1</a></li>
            <li class="dropdown-content-item"><a href="#">Link 2</a></li>
            <li class="dropdown-content-item"><a href="#">Link 3</a></li>
            </ul>
          </li>
          <li class="header-top-item"><a href="">Blog</a></li>
          <li class="header-top-item"><a href="">Help</a></li>
          <li class="dropdown header-top-item">
            <a class="dropbtn" href=""><i class="fa fa-user"></i>Sign In <i class="fa fa-caret-down"></i></a>
            <ul class="dropdown-content">
              <li class="dropdown-content-item"><a href="#">Profile user</a></li>
              <li class="dropdown-content-item"><a href="#">Logout</a></li>
            </ul>
          </li>
          <li class="header-top-item"><a href=""><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
      </section>
    </div>
  </section>
  <section class="section-header-bottom ">
    <div class="container">
      <section class="header-bottom f-row backgroud">
      <nav class="menu-main f-col-4 d-flex align-center">
        <ul class="menu-list d-flex">
          <li class="menu-item pd-2"><a class="menu-item-link" href="">Home</a></li>
          <li class="menu-item pd-2"><a class="menu-item-link" href="">Product List</a></li>
          <li class="menu-item pd-2"><a class="menu-item-link" href="">Pay</a></li>
          <li class="menu-item pd-2"><a class="menu-item-link" href="">Contact</a></li>
          <li class="menu-item pd-2"><a class="menu-item-link" href="">Cart</a></li>
        </ul>
      </nav>
    <div class="header-search f-col-6 d-flex align-center mt-2 mb-2" >
      <input class="header-search-input" type="text" placeholder="Find your perfect domain name">
      <button class="btn btn-search"><i class="fa fa-search"></i></button>
    </div>
    <div class="d-flex ml-auto">
      <ul class="menu-icon d-flex flex-nowrap align-center f-col-2 ">
        <li class="menu-icon-item"><a href=""><i class="fa fa-facebook"></i></a></li>
        <li class="menu-icon-item"><a href=""><i class="fa fa-instagram"></i></a></li>
        <li class="menu-icon-item"><a href=""><i class="fa fa-pinterest"></i></a></li>
        <li class="menu-icon-item"><a href=""><i class="fa fa-youtube"></i></a></li>
      </ul></div>
    </section>
    </div>
  </section>
</header>
