.footer-list {
  border-top: 0.5px solid grey;
  box-shadow: 1px 1px 11px rgba(163, 143, 140, 0.2);
}

.item-list {
  .item {
    .item-link {
      color: rgb(19, 17, 17);
    }
  }
}

.footer-icon-list {
  border-top: 0.5px solid grey;
  width: 31%;
}

.footer-page {
  margin-top: 50px;
}